@using TravelTrip.Models.Entity
@model List<Kommentar>
@{
    ViewBag.Title = "Kommentare";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Kommentare</h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>User</th>
        <th>Email</th>
        <th>Kommentar</th>
        <th>Blog</th>
        <th>Verwalten</th>
    </tr>

    @foreach (var x in Model)
    {
        <tr>
            <td>@x.ID</td>
            <td>@x.User</td>
            <td>@x.Email</td>
            <td>@x.Komment</td>
            <td>@x.Blog.Uberschrift</td>
            <td>
                <a href="/Admin/DeleteComment/@x.ID" class="btn btn-warning" style="width:120px; height:50px;">Löschen</a>
                <a href="/Admin/GetComment/@x.ID" class="btn btn-success" style="width:120px; height:50px">Update</a>
            </td>
        </tr>
    }


</table>

